p Thank you for your registration. Let’s serve humanity together.

p Feel free to contact for any further assistance.
br

strong Volunteer Management Department.
br
<strong>Contact No:</strong> 0300-0776015
br
<strong>Email:</strong> volunteer.management@alkhidmat.org