| "Welcome to vdm.alkhidmat.org, "#{@user.email}"
| &nbsp;
| &nbsp;
| ===============================================
| &nbsp;
| &nbsp;
| You have successfully signed up to vdm.alkhidmat.org,
| &nbsp;
| your username is: "#{@user.email}".
| &nbsp;
| &nbsp;
| To login to the site, just follow this link: "#{@url}".
| &nbsp;
| &nbsp;
| Thanks for joining and have a great day!
